@model IEnumerable<FTM.WebApi.Models.CalendarInfoDto>

@{
    ViewData["Title"] = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu
    {
    <div class="menu">
        <ul class="list">
            <li>
                <a asp-action="Index">
                    <i class="material-icons">home</i>
                    <span>HOME</span>
                </a>
            </li>
            <li class="active">
                <a asp-action="Setting">
                    <i class="material-icons">layers</i>
                    <span>CÀI ĐẶT PHÒNG CHO PHÉP BOOK</span>
                </a>
            </li>
            <li>
                <a asp-action="Duplicate">
                    <i class="material-icons">widgets</i>
                    <span>DANH SÁCH BOOK TRÙNG</span>
                </a>
            </li>
            <li>
                <a id="renewGoogle">
                    <i class="material-icons">supervisor_account</i>
                    <span>ĐĂNG NHẬP LẠI TÀI KHOẢN GOOGLE</span>
                </a>
            </li>
            <li>
                <a asp-action="Logout" asp-controller="Account">
                    <i class="material-icons">input</i>
                    <span>SIGNOUT</span>
                </a>
            </li>
        </ul>
    </div>
}

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div data-toggle="collapse" data-target="#listRoom" class="header">
                <h2>CÀI ĐẶT PHÒNG BOOK CHO TẤT CẢ</h2>
            </div>
            <div id="listRoom" class="body">
                <div class="table-responsive">
                    <table id="settingRoomTable" class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th width="15%">#</th>
                                <th>TÊN PHÒNG</th>
                                <th>MÔ TẢ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" id="chkChon+@item.RoomId" data-room-id="@item.RoomId" class="chk-col-light-blue" checked="@item.IsUseable" />
                                        <label for="chkChon+@item.RoomId">CHỌN</label>
                                    </td>
                                    <td>
                                        @item.RoomName
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <button id="btnSaveSettingRoomTable" type="button" class="btn bg-orange waves-effect">
                    <i class="material-icons">save</i>
                    <span>LƯU CÀI ĐẶT</span>
                </button>
            </div>
        </div>
    </div>
</div>
